@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

button,
input,
select,
textarea {
    font-family: "Montserrat", sans-serif;
}

header .navbar {
    background-color: #48cae4;
    font-family: montserrat;
    font-size: large;
    font-weight: bold;
}

.navbar-brand img {
    height: 55px;
}

.navbar-nav .nav-item .nav-link.active {
    color: #fff;
    text-decoration: none;
}

.contenedor {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

.contenedor2 {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}


.contenedor3 {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.grupo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.etiqueta {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.selector,
.entrada {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px
}

.boton2 {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px
}


#buttonlogin,
#buttonregister,
#buttonsearch,
#buttonenviar1,
#buttonblog,
#buttonblog2 {
    background-color: #22577A;
    border: none;
    border-radius: 15%;
    cursor: pointer;
    font-weight: bold;
    padding: 0.2rem;
    transition: 0.3s ease;
    background: linear-gradient(to top, #22577A, #38A3A5) no-repeat right/200%;
}

.boton:hover {
    background-color: #3e8e41;
}

.resultado {
    text-align: center;
    font-size: 1.2rem;
}

#footer {
    background-color: #48cae4;
    font-family: montserrat;
    font-size: large;
    font-weight: bold;
    height: auto;
}

#footer .mb-2 a:hover {
    background-color: #caf0f8;
    background-position: right;
    color: #38A3A5;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.btn {
    border: none;
    cursor: pointer;
    background-color: #22577A;
    border-radius: 20%;
    padding: 0.2rem;
    transition: 0.3s ease;
    background: linear-gradient(to top, #22577A, #38A3A5) no-repeat right/200%;
}

#imcDatacss table {

    text-align: center;
}

#imcDatacss thead tr {

    text-align: center;

}


#contenedor2 {
    font-family: montserrat;
}

/* editado por D */


td {
    padding: 10px;
}

#imcData {
    width: 100%;
}

#imcDatacss th,
td {
    font-family: montserrat;

    text-align: center;
    font-family: montserrat;
    border-bottom: 1px solid #d5d5d5;
    margin: 0.1%;

}

.table-header {
    background-color: #48cae4;
}


input.edad,
input.peso,
input.altura {
    border-bottom: 1px solid #c1bdbd;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    width: 100%;


}

/* ocultar flechas en el campo de numero */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input [type=number] {
    -moz-appearance: textfield;
}